a{
	color: pink;
}

body{
	color: white;
	font-family: "Happy Monkey";
}

.bar{
	position: sticky;
	top: 0;
	background-color: rgba(50, 25, 50, 0.5);
	display: flex;
}

marquee{
	margin-bottom: auto;
	margin-top: auto;
	width: 80%;
}

.moosics{
	width: 20%;
}

.page{
	margin-top: 5px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
}

.info{
	margin: 5px;
	background-color: rgba(50, 25, 50, 0.5);
	position: static;
	width: 70%;
}

.blog{
	margin: 5px;
	background-color: rgba(50, 25, 50, 0.5);
	position: static;
	width: 30%;
}

ul{
	text-align: left;
}

.post{
	margin: 5px;
	text-align: left;
}

.voice{
	height: 10px;
}